<h1><%= @homework.title %></h1>

<p> 
  <strong>Question:</strong> 
  <%= @homework.question %>
</p>

<% if @student.present? %>
  <p>
    <strong>Student Name:</strong>
    <%= @student.email %>
  </p>
<% end %>

<div class="row">
  <% if @student.present? %>

    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Answer ID</th>
        <th>Answer</th>
      </tr>
      </thead>

      <tbody>
      <% @solutions.each do |solution| %>
        <tr>
          <td><%= solution.id %></td>
          <td><%= solution.answer %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <% else %>

    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Latest Answer</th>
      </tr>
      </thead>

      <tbody>
      <% @solutions.each do |solution| %>
        <tr>
          <td><%= link_to solution.student.email, homework_path(solution.homework, student_id: solution.student.id) %></td>
          <td><%= solution.answer %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  <% end %>
</div>